@model ShepherdsLittleHelper.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

    </dl>
        @foreach (var user in ViewBag.users)
        {
            <dl class="dl-horizontal">
                <dd>
                    @user.UserName
                </dd>
                <dd>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.GroupID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GroupID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GroupID })*@
                </dd>
                </dl>
        }
        <p>
            Enter an email to add to group.
        </p>
        @using (Html.BeginForm())
        {
            <input type="text" name="email" />
            <input type="submit" onclick="userAdded(@ViewBag.email)" />
        }
        <div id="userAddedMessage"></div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
