@model IEnumerable<ShepherdsLittleHelper.Models.Group>

@{
    ViewBag.Title = "Group Index";
}

<h2>Your groups</h2>

<p>
    @Html.ActionLink("Create new group", "Create")
</p>


@foreach (var model in Model)
{
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-4" id="groupIndex">
            @Html.DisplayFor(modelmodel => model.GroupName)
            <br />
            @Html.ActionLink("Add location", "Index", "Locations")  
            <br/> 
            @Html.ActionLink("Edit", "Edit", new { id = model.GroupID })   
            @Html.ActionLink("Details", "Details", new { id = model.GroupID })   
            @Html.ActionLink("Delete", "Delete", new { id = model.GroupID })
        </div>
    </div>

}


