@model IEnumerable<ShepherdsLittleHelper.Models.PetType>

@{
    ViewBag.Title = "Index";
}

<h2>Species</h2>

<p>
    @Html.ActionLink("Add species", "Create")
</p>


<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-lg-12" id="petType">
            <p>@Html.DisplayFor(modelItem => item.PetTypeDescription)</p>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PetTypeID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PetTypeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PetTypeID })
                </td>*@
        </div>
    }
</div>
