@model ShepherdsLittleHelper.Models.TaskType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTypeName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TaskTypeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTypeNotes)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
