@model IEnumerable<ShepherdsLittleHelper.Models.TaskType>

@{
    ViewBag.Title = "Index";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create a task", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskTypeName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TaskTypeNotes)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTypeName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TaskTypeNotes)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskID })
        </td>
    </tr>
}

</table>
