<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shepherd's Little Helper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Scripts.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Varela+Round|Yellowtail" rel="stylesheet">
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="page-header">
        <span id="logoCaps">S</span>hepherd's <span id="logoCaps">L</span>ittle <span id="logoCaps">H</span>elper
    </div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Navigator"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
<<<<<<< HEAD
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Menu
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="~/PetTasks/Index">Pet Tasks</a></li>
                                <li><a href="~/LocationTasks/Index">Location Tasks</a></li>
                                <li><a href="~/Pets/Index">Pets</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Locations/Index">Locations</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Groups/Index">Groups</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="about-link">@Html.ActionLink("About", "About", "Home")</li>
                    <li id="contact-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
=======
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
>>>>>>> Stable
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Shepherd's Little Helper</p>
            <p class="text-center">@Html.ActionLink("About", "About", "Home") | @Html.ActionLink("Contact", "Contact", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Code to wire up your DatePicker -->
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })
    </script>
</body>
</html>