@model ShepherdsLittleHelper.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxOccupancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationNotes)
        </dd>

    </dl>
    @foreach (var pet in ViewBag.pets)
    {
        <dl class="dl-horizontal">
            <dd>
                <a href="/Pets/Details/@pet.PetID">@pet.PetName</a>
            </dd>
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
