@model IEnumerable<ShepherdsLittleHelper.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Your location</h2>

<p>
    @Html.ActionLink("Add a location", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationNotes)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model)
{
    <div class="container" id="locationIndex">
        <div class="col-xs-12 col-sm-6 col-md-4" >
            <p><span id="locationText">@Html.DisplayNameFor(model => model.Group.GroupName)</span>: @Html.DisplayFor(modelitem => item.Group.GroupName)</p>

            <p><span id="locationText">@Html.DisplayNameFor(model => model.MaxOccupancy)</span>: @Html.DisplayFor(modelitem => item.MaxOccupancy)</p>

            <p><span id="locationText">@Html.DisplayNameFor(model => model.LocationName)</span>: @Html.DisplayFor(modelitem => item.LocationName)</p>

            <p><span id="locationText">@Html.DisplayNameFor(model => model.LocationNotes)</span>: @Html.DisplayFor(modelitem => item.LocationNotes)</p>

            @Html.ActionLink("Pets", "Index", "Pets") ||
            @Html.ActionLink("Task", "Create", "LocationTasks") ||
            @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) ||
            @Html.ActionLink("Details", "Details", new { id = item.LocationID }) ||
            @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
            </div>
        </div>

}


