@model IEnumerable<ShepherdsLittleHelper.Models.Pet>

@{
    ViewBag.Title = "Index";
}


@* 
-remove species from index page
-fix javascript so that input is still stored (user friendlyness)


    
    
    
    *@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetType.PetTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetNotes)
        </th>
        <th></th>
    </tr>*@
    

@foreach (var item in Model)
{

    <div class="col-md-4">

        @*@Html.DisplayFor(modelItem => item.ImageURL)*@
        @*Use default image if picture not available*@
        <img src="@Url.Content(item.ImageURL)" onerror="this.src='../../Images/file.jpg'" id="petPicture" />


        @Html.DisplayFor(modelItem => item.Location.LocationName)

        @Html.DisplayFor(modelItem => item.PetType.PetTypeDescription)

        @Html.DisplayFor(modelItem => item.PetName)

        @Html.DisplayFor(modelItem => item.Gender)

        @Html.DisplayFor(modelItem => item.Birthday)

        @Html.DisplayFor(modelItem => item.Age)

        @Html.DisplayFor(modelItem => item.Weight)<span>lb(s)</span>

        @Html.DisplayFor(modelItem => item.PetNotes)

        @Html.ActionLink("Pet task?", "Index", "PetTasks")
        @Html.ActionLink("Edit", "Edit", new { id = item.PetID })
        @Html.ActionLink("Details", "Details", new { id = item.PetID })
        @Html.ActionLink("Delete", "Delete", new { id = item.PetID })
    </div>

}


