@model IEnumerable<ShepherdsLittleHelper.Models.PetTask>

@{
    ViewBag.Title = "Index";
}

<h2>Task for pets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskType.TaskTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)

        </th>
        <th></th>
    </tr>

@foreach (var model in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelmodel => model.ApplicationUser.Email)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelmodel => model.Location.LocationName)
        </td>*@
        <td>
            @Html.DisplayFor(modelmodel => model.Pet.PetName)
        </td>
        <td>
            @Html.DisplayFor(modelmodel => model.TaskType.TaskTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelmodel => model.TaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelmodel => model.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelmodel => model.Deadline)
        </td>
        <td>
            <a href="@Url.Action("ToggleDone", new {id=model.TaskID})">
                @if (model.IsDone)
                {
                    <span class="glyphicon glyphicon-check"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-unchecked"></span>
                }
            </a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=model.TaskID }) |
            @Html.ActionLink("Details", "Details", new { id=model.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=model.TaskID })
        </td>
    </tr>
}

</table>



