@model IEnumerable<ShepherdsLittleHelper.Models.PetTask>

@{
    ViewBag.Title = "Pet Tasks";
}

<h2>Task for Pets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table hidden-xs">
        <tr>
            <th>
                Pet Name
            </th>
            <th>
                Task
            </th>
            <th>
                Description
            </th>
            <th>
                Frequency
            </th>
            <th>
                Deadline
            </th>
            <th>
                Done
            </th>
            <th></th>
        </tr>

        @foreach (var model in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelmodel => model.Pet.PetName)
                </td>
                <td>
                    @Html.DisplayFor(modelmodel => model.TaskType.TaskTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelmodel => model.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelmodel => model.Frequency)
                </td>
                <td>
                    @Html.DisplayFor(modelmodel => model.Deadline)
                </td>
                <td>
                    <a href="@Url.Action("ToggleDone", new {id=model.TaskID})">
                        @if (model.IsDone)
            {
                            <span class="glyphicon glyphicon-check"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-unchecked"></span>
                        }
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = model.TaskID }) |
                    @Html.ActionLink("Details", "Details", new { id = model.TaskID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = model.TaskID })
                </td>
            </tr>
        }
    </table>
<div class="row container visible-xs">
    @foreach (var model in Model)
    {
        <div class="col-xs-12 xs-task-boxes">
            <b>Pet Name: </b>@Html.DisplayFor(modelmodel => model.Pet.PetName)<br />
            <b>Task: </b>@Html.DisplayFor(modelmodel => model.TaskType.TaskTypeName)<br />
            <b>Description: </b>@Html.DisplayFor(modelmodel => model.TaskDescription)<br />
            <b>Frequency: </b>@Html.DisplayFor(modelmodel => model.Frequency)<br />
            <b>Deadline: </b>@Html.DisplayFor(modelmodel => model.Deadline)<br />
            <b>Done: </b>
                <a href="@Url.Action("ToggleDone", new {id=model.TaskID})">
                    @if (model.IsDone)
                    {
                        <span class="glyphicon glyphicon-check"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-unchecked"></span>
                    }
                </a><br />
            @Html.ActionLink("Edit", "Edit", new { id = model.TaskID }) |
            @Html.ActionLink("Details", "Details", new { id = model.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id = model.TaskID })
        </div>
    }
</div>
